<!DOCTYPE html>
<html>
<head>
	<title>register</title>
</head>
<body>
	<form action="{% url 'chatApp:register_action' %}" method="post" novalidate>
		{% csrf_token %}
		<input type="hidden" name="userid" value="{{ user.id | default:'0' }}"/>
		昵称：<input type="text" name="name" value="{{ user.user_name }}"/>
		电话号码：<input type="text" name="phone" value="{{ user.phone_number }}"/>
		密码：<input type="password" name="password" value="{{ user.password }}"/>
		年龄：<input type="text" name="age" value="{{ user.age }}"/>
		出生日期：<input type="text" name="birthday" value="{{ user.birthday }}"/>
		<input type="submit" value="提交">
	</form>
</body>
</html>